.video-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container > video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.temp-input {
  border: 5px solid #64ffc8;
  display: block;
  margin: 1em;
  font-size: 1em;
  padding: 1em;
  outline: none;
}

.temp-input:focus {
  box-shadow: 0 0 10px 3px #FF649B;
}

.grid-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}